<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Portfolio DISPLAY</title>
	<link rel="stylesheet" type="text/css" href="../styles/main.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  	<script>
  	window.onload = function(){
  		var btn = document.getElementById('contact');

		btn.addEventListener('click', function() {  
			var id = window.location.pathname.split('/').pop();
			var xhr = new XMLHttpRequest(); 
			xhr.open('PUT', '/update/'+id); 

			var data = {
				title: document.getElementById('prj_title').value, 
				author: document.getElementById('prj_auth').value,
				category: document.getElementById('category').value, 
				description: document.getElementById('descript').value, 
				id: id
			}

			xhr.setRequestHeader('Content-Type', 'application/json'); 
			xhr.send(JSON.stringify(data)) 
		})
  	}
  	</script>
</head> 
<body>
	<div class="container-fluid">
		
		<div id="header">
			<div class="row grey services">
				<div class="col-md-10 col-md-offset-1 col-xs-12">
					<div class="col-md-7">
						<h3><span id="logo">D</span><strong>DISPLAY</strong></h3>
					</div>
					<div class="col-md-5" style="margin-top: 20px;">
						<span id="socials">
							<i class="fa fa-twitter"></i>
							<i class="fa fa-facebook"></i>
							<i class="fa fa-rss"></i>
							<i class="fa fa-pinterest-p"></i>
							<i class="fa fa-google-plus"></i>
							<i class="fa fa-dribbble"></i>
						</span>
					</div>
					<div class="col-md-12">
						<hr>
						<a href="/home">HOME</a>
						<a href="/contact">CONTACT</a>
					</div>
				</div>
			</div>
			<div class="row green">
				<div class="col-md-12">
					
						    <div class="row cont">
						    	<div class="col-md-10 col-md-offset-1 col-xs-12">
						    		<label class="control-label"><h4>EDIT PROJECT INFO</h4></label>
						    	</div>
						    </div>
					
				</div>
			</div>
		</div>

		<div id="new_prj">
			<div class="row services">
				<div class="col-md-3 col-md-offset-1 col-xs-8 col-xs-offset-2">
					<label><img src="../<%= source %>" class="img-responsive"></label>
				</div>
				<div class="col-md-4 col-xs-12">
					<br><br>
					<input type="text" class="form-control" id="prj_title" placeholder="Project title" value="<%= title %>">
					<input type="text" class="form-control" id="prj_auth" placeholder="Project author" value="<%= author %>">
					<input type="text" class="form-control" id="category" placeholder="Category" value="<%= category %>">
				</div>
			</div>
			<div class="row">
				<div class="col-md-7 col-md-offset-1 col-xs-12">
					<input type="text" class="form-control" id="descript" placeholder="Description" value="<%= description %>">
					<a href="/home"><button class="butt btn btn-primary" id="contact">DONE</button></a><br><br>
				</div>
			</div>
		</div>

		<div id="footer">
			<div class="row services" id="down_foot">
				<div class="col-md-6 col-md-offset-1 col-xs-12">
					<span>Copyright 2013 Display. All Rights Reserved.</span>
				</div>
				<div class="col-md-4 col-xs-12">
					<a href="/home">HOME</a>
					<span>/</span>
					<a href="/contact">CONTACT</a>
				</div>
			</div>
		</div>


	</div>
</body>
</html>